.pointsTitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: var(--content-primary);
}

.pointsSubsection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .pointsSubsection {
    flex-direction: column;
  }
}

.pointsSubtitle {
  font-size: 1rem;
  color: var(--content-dimmed-light);
  margin-bottom: 1.5rem;
}

.pointsAlert {
  font-size: 1rem;
  color: var(--accent-alert);
  margin-bottom: 1.5rem;
}
