.pointsTitle {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.pointsSubsection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .pointsSubsection {
    flex-direction: column;
  }
}

.pointsSubtitle {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 1.5rem;
}

.pointsWarning {
  font-size: 16px;
  color: #d4b226;
  margin-bottom: 1.5rem;
}
