.pointsTitle {
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
}

.pointsSubsection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .pointsSubsection {
    flex-direction: column;
  }
}

.pointsSubtitle {
  font-size: 16px;
  color: var(--background-white);
}
