.pointsTitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  color: var(--mc-black);
}

.pointsSubsection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pointsSubtitle {
  color: var(--primary-white);
}

@media (max-width: 768px) {
  .pointsSubsection {
    flex-direction: column;
  }
}
