.statusModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  gap: 12px;
}

.statusContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.mainText {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subText {
  font-size: 14px;
  line-height: 16px;
  color: var(--mc-grey-4);
  text-align: center;
}

.statusModal > svg {
  width: 80px;
  height: 80px;
}

@media (min-width: 1024px) {
  .statusModal {
    gap: 32px;
  }

  .claimFailureModal > svg {
    width: 80px;
    height: 80px;
  }
}
