.mobilePositionItem {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.infoSection {
  display: flex;
  justify-content: space-between;
}

.positionPrice {
  font-size: 14px;
  line-height: 16px;
  color: var(--content-tertiary);
}

.poolDescription {
  font-size: 15px;
  line-height: 17px;
  color: #d4b226;
}

.poolValue {
  font-size: 14px;
}

.addButton {
  height: 40px;
  font-weight: 500;
  font-size: 16px;
}

.aprDiv {
  display: flex;
  flex-direction: column;
  width: 80px;
}

.title {
  color: var(--content-primary);
  font-size: 15px;
}

.value {
  font-size: 14px;
  color: var(--content-tertiary);
}

.aprValue {
  color: var(--content-positive);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.subContent {
  display: flex;
  flex-direction: column;
  line-height: 20px;
}

@keyframes fade {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.loadingText {
  color: var(--content-primary);
  font-size: 14px;
  animation: fade 0.5s linear infinite alternate;
}
