.logo {
  font-family: var(--font-sf-compact-text), sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--content-primary);
}

.logo:hover {
  color: var(--content-primary) !important;
}
