SENTIO_API_KEY="..."
#====================================================
#                    DATABASE
#====================================================
DATABASE_HOST="localhost"
SENTIO_API_URL="https://app.sentio.xyz/api/v1/analytics/fuellabs/mira-mainnet/sql/execute"
BASE_URL="https://mira.ly"
