#====================================================
#              Environment Variables
#====================================================
.env
.env*.local
.env.sentry-build-plugin
**/.env
**/.env.sentry-build-plugin

#====================================================
#               Build/Test Outputs
#====================================================
libs/db/data/*
libs/api/documentation
apps/admin/media
apps/microvisor/.wxt
**/dist
**/bin
**/.swc
**/target
**/.next
**/.react-router
**/out
**/build
**/generated
**/playwright-report
**/test-results
**/.nyc_output
**/coverage
**/storybook-static
**/coverage
**/*.tsbuildinfo
**/next-env.d.ts
**/*.tar.gz
**/.vercel
**/.netlify
**/.drizzle

#====================================================
#                 Caches & Logs
#====================================================
.open-webui
.webui_secret_key
.pre-commit-config.yaml
.nx/cache
.nx/workspace-data
.devenv*
devenv.local.nix
.direnv
**/.direnv/
**.qcow2
**/postgresql.log
logs
*.log
pnpm-debug.log*
**/.temp
**/.tmp
**/temp
**/tmp
vite.config.*.timestamp*
vitest.config.*.timestamp*

#====================================================
#                  Dependencies
#====================================================
**/node_modules
/.pnp
.pnp.js

#====================================================
#                  Miscellaneous
#====================================================
.DS_Store
*.pem
*tmp*
.idea/
.project
.classpath
.c9
*.launch
.vscode/*
.settings
!.vscode/extensions.json
!.vscode/settings-example.json
apps/microvisor/services/supabase/.branches
