#====================================================
#               Build/Test Outputs
#====================================================
**/dist
**/target
**/.next
**/out
**/build
**/generated
**/playwright-report
**/test-results
**/storybook-static
**/coverage
**/*.tsbuildinfo
**/next-env.d.ts
**/*.tar.gz
**/.env*
**/.env.sentry-build-plugin
**/.vercel
**/.drizzle

#====================================================
#                     Caches
#====================================================
.nx/cache
.nx/workspace-data
apps/microgame/media
libs/db/data/*
**/postgresql.log
libs/db/supabase/.branches
libs/db/supabase/.temp

#====================================================
#                  Dependencies
#====================================================
**/node_modules
/.pnp
.pnp.js

#====================================================
#                  Miscellaneous
#====================================================
.DS_Store
*.pem
*tmp*
.idea/

#====================================================
#              Environment Variables
#====================================================
.env
.env*.local
