node_modules
.next
.nx
.git
.devenv
.direnv
.vscode
.verdaccio
dist
build
coverage
target
Cargo.lock
pnpm-lock.yaml
package-lock.json
*.tsbuildinfo
public
*.log
.env
.env.*
!.env.example

## MDX formatting breaks sotrybook, ignoring for now
**/*.mdx
