{
  "singleQuote": false,
  "jsxSingleQuote": false,
  "bracketSpacing": false,
  "tabWidth": 2,
  "semi": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "useTabs": false,
  "quoteProps": "as-needed",
  "arrowParens": "always",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "requirePragma": false,
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 120,
        "tabWidth": 2
      }
    },
    {
      "files": [
        "*.css",
        "*.scss",
        "*.sass"
      ],
      "options": {
        "singleQuote": true,
        "printWidth": 100
      }
    },
    {
      "files": "*.md",
      "options": {
        "printWidth": 100,
        "proseWrap": "always",
        "tabWidth": 2
      }
    },
    {
      "files": "*.yml",
      "options": {
        "tabWidth": 2,
        "singleQuote": true
      }
    },
    {
      "files": "*.yaml",
      "options": {
        "tabWidth": 2,
        "singleQuote": true
      }
    },
    {
      "files": "*.toml",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}