.claimFailureModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.mainText {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subText {
  font-size: 14px;
  line-height: 16px;
  color: var(--content-dimmed-dark);
}

.discordBlock {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  margin-top: 20px;
}

.discordIcon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #343BAD;
  border-radius: 4px;
}

.discordIcon > svg {
  width: 24px;
  height: 24px;
}

.discordLink {
  text-decoration: underline;
}

.discordLink:hover {
  color: var(--content-secondary);
}

.actionButton {
  width: 100%;
  margin-top: 20px;
}

@media (min-width: 1024px) {
  .claimFailureModal {
    gap: 24px;
  }

  .claimFailureModal > svg {
    width: 80px;
    height: 80px;
  }
}
