layout {
    default_tab_template {
        pane {
            size 1
            borderless true
            plugin location="zellij:tab-bar"
        }
        children
        pane {
            size 2
            borderless true
            plugin location="zellij:status-bar"
        }
    }

    tab name="🧮 Servers" focus=true {
        pane split_direction="vertical" {
            pane {
                name "🟩 Web App | 3000 | mira.ly"
                cwd "../"
                command "pnpm"
                args "nx" "dev" "web"
            }

            pane {
                command "pnpm"
                name "🎨 Storybook | 6006 | design.mira.ly"
                cwd "../"
                args "storybook"
                start_suspended true
            }

            pane split_direction="horizontal" size="30%" {
                pane {
                    name "📚 Docs | 4000 | docs.mira.ly"
                    cwd "../"
                    command "pnpm"
                    args "nx" "dev" "docs"
                    start_suspended true
                }

                pane {
                    command "pnpm"
                    name "🏛 Architecture | 5173 | arch.mira.ly"
                    cwd "../"
                    args "nx" "dev" "arch"
                    start_suspended true
                }
                pane {
                    name "🗺 Project Graph - Nx | 4211 | graph.mira.ly"
                    cwd "../"
                    command "pnpm"
                    args "nx" "graph" "--groupByFolder" "--open='false'" "--verbose"
                    start_suspended true
                }
            }
        }

        floating_panes {
            pane {
                focus true
                name "💿 Nix-PostgreSQL | 5432"
                command "pnpm"
                args "nx" "start" "infra"
            }
            pane {
                name "🩺 System Health - btop"
                command "btop"
            }
        }
    }

    tab name="🟩 Status" {
        pane split_direction="vertical" {
            pane {
                name "🍒 Git - Lazygit"
                command "lazygit"
            }

            pane {
                name "📁 File Browser - Yazi"
                command "env"
                args "YAZI_CONFIG_HOME=./" "yazi"
            }
        }

        floating_panes {
            pane {
                name "🧠 TGPT"
                command "tgpt"
                args "-m"
            }
        }
    }
    tab name="🔌 API" hide_floating_panes=true {
        pane split_direction="vertical" {
                pane {
                    cwd "posting"
                    command "posting"
                    args "-e" "dev.env" "--collection" "."
                }
        }
    }
    tab name="⚒ Devtools" {
        pane split_direction="vertical" {
            pane {
                name "💊 Doctor"
                command "pnpm"
                args "nx" "doctor" "infra"
                cwd "../"
            }
            pane split_direction="horizontal" {
                size "30%"
                pane {
                    name "📦 Node Modules Inspector | 7000"
                    cwd "../"
                    command "pnpm"
                    args "node-modules-inspector" "--depth=7" "--port=7000" "--open=false"
                    start_suspended true
                }
            }
        }
    }
    tab name="☁ Deployments" {
        pane split_direction="vertical" {
            pane {
                name "🔺 Vercel"
                cwd "../"
                command "pnpm"
                args "nx" "preview" "infra"
                start_suspended true
            }
        }
    }
}
