layout {
    default_tab_template {
        pane {
            size 1
            borderless true
            plugin location="zellij:tab-bar"
        }
        children
        pane {
            size 2
            borderless true
            plugin location="zellij:status-bar"
        }
    }
    tab name="🧮 SERVERS" focus=true split_direction="vertical" cwd="../"  {
            pane {
                name "🕹 Microgame | 8000 | microgame.mira.ly"
                command "pnpm"
                args "nx" "dev" "microgame"
            }
            pane {
            split_direction "horizontal"
            pane {
                name "🟩 Web App | 3000 | mira.ly"
                command "pnpm"
                args "nx" "dev" "web"
                start_suspended true
            }
            pane {
                command "pnpm"
                name "🎨 Storybook | 6006 | design.mira.ly"
                args "storybook"
                start_suspended true
            }
            }

            pane split_direction="horizontal" {
                pane {
                    name "📚 Docs | 4000 | docs.mira.ly"
                    command "pnpm"
                    args "nx" "dev" "docs"
                    start_suspended true
                }

                pane {
                    command "pnpm"
                    name "🏛 Architecture | 5173 | arch.mira.ly"
                    args "nx" "dev" "arch"
                    start_suspended true
                }
                pane {
                    name "🗺 Project Graph - Nx | 4211 | graph.mira.ly"
                    command "pnpm"
                    args "nx" "graph" "--groupByFolder"
                    start_suspended true
                }
            }

        floating_panes {
            pane {
                name "🩺 System Health - btop"
                command "btop"
            }
        }
    }

    tab name="🟩 STATUS" split_direction="vertical"  {
            pane {
                name "🍒 Git - Lazygit"
                command "lazygit"
            }

            pane {
                cwd "infra"
                name "📁 File Browser - Yazi"
                command "env"
                args "YAZI_CONFIG_HOME=./" "yazi"
            }

        floating_panes {
            pane {
                name "🧠 TGPT"
                command "tgpt"
                args "-m"
            }
        }
    }

    tab name="🔍🤨 INSPECT" split_direction="vertical" cwd="../" {
        pane {
            name "💿 DATABASE"
            command "lazysql"
            args "postgresql://postgres:postgres@127.0.0.1:54322/postgres?sslmode=disable"
        }
        pane {
            name "🔌 API"
            command "posting"
            args "-e" "infra/posting/dev.env" "--collection" "infra/posting"
        }
        floating_panes {
            pane {
                name "📊 Drizzle Studio | local.drizzle.studio + 👀 Schema Visualizer | 5600"
                command "pnpm"
                args "nx" "view" "db"
                start_suspended true
            }
            pane {
                name "📦 Node Modules Inspector | 7000"
                command "pnpm"
                args "node-modules-inspector" "--depth=7" "--port=7000"
                start_suspended true
            }
        }
    }
    tab name="🧪 TESTING" split_direction="vertical" cwd="../" {
            pane {
                name "🎭 Web"
                command "pnpm"
                args "nx" "e2e" "web-e2e" "--ui"
                start_suspended true
            }
            pane split_direction="horizontal" {
                size "30%"
            pane {
                name "💊 Doctor"
                command "pnpm"
                args "nx" "doctor" "infra"
                start_suspended true
            }
            }
    }
    tab name="☁ DEPLOYMENTS" split_direction="vertical" cwd="../" {
            pane {
                name "🔺 Vercel"
                command "pnpm"
                args "nx" "preview" "infra"
                start_suspended true
            }
    }
    tab name="🐳 CONTAINERS" split_direction="vertical" cwd="../" {
            pane {
                command "lazydocker"
            }
    }
}
