.steps {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.step {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.stepIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 40px;
  color: var(--content-primary);
  background-color: rgba(255, 255, 255, 0.1);
}

.stepIcon > svg {
  width: 16px;
  height: 16px;
}

.claimButton {
  width: 100%;
}

.buttonLink {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  display: inline;
  background: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  color: var(--accent-primary);
}

.buttonLink:hover {
  color: var(--content-primary);
}

.buttonAndLink {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.ethFaucetText {
  color: var(--accent-warning);
}

.ethFaucetText > a {
  text-decoration: underline;
  /*color: var(--accent-primary);*/
}

.ethFaucetText > a:hover {
  color: var(--content-primary);
}

@media (min-width: 1024px) {
  .steps {
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
  }

  .step {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
  }

  .claimButton {
    max-width: 290px;
  }

  .buttonAndLink {
    align-items: center;
  }
}
