.positionLabel {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 14px;
  border-radius: 8px;
  background-color: var(--background-grey-light);
  color: var(--content-positive);
}

@media (min-width: 1024px) {
  .positionLabel {
    padding: 8px 16px;
    font-size: 16px;
    line-height: 19px;
  }
}
