:root {
  --font-inter: 'Inter';
  --font-prompt: 'Prompt';

  --mc-white: #FDFDFD;

  --mc-grey-1: #F5F5F5;
  --mc-grey-2: #ECEDF0;
  --mc-grey-3: #E0E2E7;
  --mc-grey-4: #8A8B8E;

  --mc-black: #0E111E;
  --mc-black-1: rgba(14, 17, 30, 0.63);

  --mc-green: #01EC97;
  --mc-green-2: #19BD82;
  --mc-green-3: #015537;

  --mc-red: #F95465;
  --mc-blue: #72A2FF;

  --background-white: #FFFFFF;
  --background-primary: var(--mc-white);
  --background-secondary: var(--mc-grey-1);
  --background-tertiary: var(--mc-grey-2);
  --background-grey-light: var(--mc-grey-3);
  --background-grey-dark: var(--mc-grey-2);

  --background-dimmer: rgba(14, 17, 30, 0.63);
  --border-dark: var(--mc-grey-4);
  --background-grey-darker: rgba(255, 255, 255, 0.05);



  --content-primary: var(--mc-black);
  --content-secondary: var(--mc-grey-4);
  --content-tertiary: var(--mc-grey-4);

  --content-dimmed-light: var(--mc-grey-4);
  --content-dimmed-dark: rgba(255, 255, 255, 0.4);

  --content-grey: #9D9D9D;
  --content-grey-dark: #6D6D6D;

  --content-inverse: #28282F;

  --button-primary: var(--mc-green);

  --accent-primary: #AEED0D;
  --accent-secondary: rgba(174, 237, 13, 0.4);
  --accent-dimmed: rgba(174, 237, 13, 0.1);
  --accent-warning: var(--mc-red);
  --accent-alert: #d4b226;
  --content-positive: #46CC44;
  --points-gradient: linear-gradient(170deg, #262f5f 35%, #c41cff 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: var(--content-primary);
  background-color: var(--background-primary);
}

h1,
h3 {
  font-family: var(--font-prompt), sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
}

h1 {
  letter-spacing: -0.005em;
}

h3 {
  letter-spacing: 0.005em;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--content-primary);
}

input:focus {
  outline: none;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 64px;
    line-height: 72px;
    letter-spacing: 0.005em;
  }

  h3 {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: 0.005em;
  }

  p,
  span {
    font-size: 16px;
    line-height: 19px;
  }

  .mobileOnly {
    display: none !important;
  }
}

@media (min-width: 431px) {
  div[data-state="open"][role="dialog"] {
    bottom: unset;
  }
}

@media (max-width: 1023px) {
  .desktopOnly {
    display: none !important;
  }
}

.blurredText {
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
}

.blurredTextLight {
  filter: blur(2px);
  pointer-events: none;
  user-select: none;
}