:root {
  --font-sf-ui-text: 'SF UI Text';
  --font-prompt: 'Prompt';
  --font-sf-compact-text: 'SF Compact Text';

  --background-primary: #0E111E;
  --background-secondary: #1B1C23;
  --background-grey-dark: rgba(255, 255, 255, 0.1);
  --background-grey-light: rgba(255, 255, 255, 0.2);
  --content-primary: #FFFFFF;
  --content-secondary: rgba(255, 255, 255, 0.8);
  --content-tertiary: rgba(255, 255, 255, 0.72);
  --content-dimmed-light: rgba(255, 255, 255, 0.64);
  --content-dimmed-dark: rgba(255, 255, 255, 0.4);
  --content-inverse: #28282F;
  --content-grey: #9D9D9D;
  --accent-primary: #AEED0D;
  --accent-secondary: rgba(174, 237, 13, 0.4);
  --accent-dimmed: rgba(174, 237, 13, 0.1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--content-primary);
  background-color: var(--background-primary);
}

h1, h3 {
  font-family: var(--font-prompt), sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
}

h1 {
  letter-spacing: -0.005em;
}

h3 {
  letter-spacing: 0.005em;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--content-primary);
}

input:focus {
  outline: none;
}

.no-scroll {
  overflow: hidden;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 64px;
    line-height: 72px;
    letter-spacing: 0.005em;
  }

  h3 {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: 0.005em;
  }

  .mobileOnly {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .desktopOnly {
    display: none !important;
  }
}
