.coin {
  display: flex;
  gap: 8px;
  color: var(--content-primary);
}

.centered {
  align-items: center;
}

.names {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 4px;
}

.name {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.fullName {
  font-size: 14px;
  line-height: 16px;
  color: var(--content-dimmed-light);
}

.balance {
  font-size: 14px;
  line-height: 16px;
  color: var(--content-dimmed-dark);
}

@media (min-width: 1024px) {
  /*.name {*/
  /*  font-size: 18px;*/
  /*  line-height: 22px;*/
  /*}*/

  /*.fullName {*/
  /*  font-size: 14px;*/
  /*  line-height: 16px;*/
  /*}*/

  /*.balance {*/
  /*  font-size: 14px;*/
  /*  line-height: 16px;*/
  /*}*/
}
