.coin {
  display: flex;
  gap: 8px;
  color: var(--content-primary);
}

.coin svg,
.coin img {
  width: 28px;
  height: 28px;
}

.centered {
  align-items: center;
}

.names {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 4px;
}

.names svg {
  width: 17px !important;
  height: 17px !important;
  margin-left: 3px;
  margin-top: 2px;
}

.name_container {
  display: flex;
  align-items: center;
}

.name {
  font-size: 19px;
  font-weight: 500;
  line-height: 100%;
}

.fullName {
  font-size: 15px;
  line-height: 100%;
  color: var(--content-dimmed-light);
}

.balance {
  font-size: 14px;
  line-height: 16px;
  color: var(--content-dimmed-dark);
}

@media (min-width: 1024px) {
  /*.name {*/
  /*  font-size: 18px;*/
  /*  line-height: 22px;*/
  /*}*/

  /*.fullName {*/
  /*  font-size: 14px;*/
  /*  line-height: 16px;*/
  /*}*/

  /*.balance {*/
  /*  font-size: 14px;*/
  /*  line-height: 16px;*/
  /*}*/
  .coin svg,
  .coin img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
  }
}
