.reserveItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reserveItems > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.reserveValues {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: end;
}

.reserveValues p:last-child {
  color: var(--mc-grey-4);
}
