.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 158px;
  height: 40px;
  /* padding: 16px 0; */
  text-align: center;
  font-family: var(--font-inter), sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.longer {
  width: 175px;
}

.big {
  width: 172px;
  height: 54px;
}

.btn:hover {
  opacity: 0.9;
}

.btn:active {
  opacity: 0.8;
}

.btn:disabled {
  cursor: default;
  pointer-events: none;
}

.primary {
  color: var(--button-content-primary);
  background-color: var(--button-primary);
}

.primary:disabled {
  background-color: var(--mc-green-3);
  color: var(--mc-green-2);
}

.secondary {
  border: 1px solid var(--border-dark);
  background: var(--background-secondary);
  color: var(--content-primary);
}

.outlined {
  border: 1px solid var(--mc-green-2);
  background: transparent;
  color: var(--mc-green-2);
  transition: opacity 0.2s;
}

.outlined:hover {
  opacity: 0.8;
}

.fullWidth {
  width: 100%;
}

@keyframes cycleSymbols {
  0% {
    opacity: 0;
    content: "/";
  }
  8.33% {
    opacity: 1;
    content: "/";
  }
  16.66% {
    opacity: 1;
    content: "/";
  }
  24% {
    opacity: 0;
    content: "/";
  }
  25% {
    opacity: 0;
    content: "-";
  }
  33.33% {
    opacity: 1;
    content: "-";
  }
  41.66% {
    opacity: 1;
    content: "-";
  }
  49% {
    opacity: 0;
    content: "-";
  }
  50% {
    opacity: 0;
    content: "\\";
  }
  58.33% {
    opacity: 1;
    content: "\\";
  }
  66.66% {
    opacity: 1;
    content: "\\";
  }
  74% {
    opacity: 0;
    content: "\\";
  }
  75% {
    opacity: 0;
    content: "-";
  }
  83.33% {
    opacity: 1;
    content: "-";
  }
  91.66% {
    opacity: 1;
    content: "-";
  }
  99% {
    opacity: 0;
    content: "-";
  }
  100% {
    opacity: 0;
    content: "/";
  }
}

.loadingAnimation {
  font-size: 24px;
  font-weight: bold;
  position: relative;
}

.loadingAnimation::before {
  content: "\200B";
  animation: cycleSymbols 4s infinite;
}
