.modalBackdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(5px);
}

.modalWindow {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  transform: translate(-50%, -50%);
  background: #262834;
  width: 80%;
  max-width: 500px;
  max-height: 80%;
  overflow: auto;
  border-radius: 12px;
}

.modalHeading {
  display: flex;
  font-size: 18px;
  line-height: 22px;
}

.modalTitle {
  flex: 1;
}

