.modalBackdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(5px);
  z-index: 10;
}

.modalWindow {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  transform: translate(-50%, -50%);
  background: #262834;
  width: 90%;
  margin: 0 auto;
  max-height: 80%;
  overflow: auto;
  border-radius: 12px;
  z-index: 11;
}

.modalHeading {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

@media (min-width: 1024px) {
  .modalWindow {
    max-width: 460px;
  }

  .modalHeading {
    font-size: 20px;
    line-height: 24px;
  }
}
