.modalBackdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--background-dimmer);
  backdrop-filter: blur(5px);
  z-index: 10;
}

.modalWindow {
  border: var(--border-style-secondary);
  border-radius: 16px;
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 26px 24px;
  transform: translate(-50%, -50%);
  background: var(--background-secondary);
  width: 90%;
  margin: 0 auto;
  max-height: 80%;
  overflow: auto;
  border-radius: 12px;
  z-index: 11;
}

.modalHeading {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

/* Size variants */
.modalSizeSmall {
  width: 90%;
  max-width: 360px;
}

.modalSizeMedium {
  width: 90%;
  max-width: 460px;
}

.modalSizeLarge {
  width: 90%;
  max-width: 640px;
}

.modalSizeFullWidth {
  width: 95%;
  max-width: 1200px;
}

@media (min-width: 1024px) {
  .modalHeading {
    font-size: 20px;
    line-height: 24px;
  }
}
