.mobilePools {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--background-grey-dark);
}

.separator {
  height: 1px;
  background-color: var(--background-grey-light);
  margin: 16px -16px;
}

.mobilePoolsSort {
  color: var(--mc-grey-4);
  font-size: 14px;
  background-color: var(--background-grey-dark);
  border-radius: 8px;
  padding: 8px;
  padding-top: 0.8rem; /* this is a temporary fix and need to be handled more elegantly - Correct solution would be to align vertically centered for all child component */
  padding-bottom: 0.5rem;
  margin-bottom: 8px;
  display: flex;
}

.mobilePoolsSort tr {
  display: flex;
  gap: 12px;
}

.mobilePoolsSort th {
  font-weight: 500;
}

@media (min-width: 640px) {
  .mobilePoolsSort.sm\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.noData {
  text-align: center;
  color: var(--content-tertiary);
}
