.reserveItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infoText {
  color: var(--mc-grey-4);
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}

.exchangeRate {
  cursor: pointer;
  display: flex;
  gap: 6px;
}
