button.connected {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px 8px;
  color: var(--content-primary);
  background-color: transparent;
  border: 1px solid var(--accent-primary);
  box-shadow: none;
}

button.connected:hover {
  box-shadow: none;
}

button.connected:active {
  background-color: transparent;
}

.disconnectLabel {
  border-radius: 20px;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  color: var(--background-primary);
  background-color: var(--accent-primary);
  opacity: 0;
  padding: 0;
  max-width: 0;
  transition: opacity .5s, max-width .5s, padding 0s .3s, margin-left 0s .3s;
}

button.connected:hover .disconnectLabel {
  opacity: 1;
  max-width: 200px;
  padding: 2px 8px 3px;
  transition-delay: 0s;
  margin-left: 4px;
}
