.backLink {
  z-index: 5;
}

.addLiquidityHeading {
  display: flex;
  width: 100%;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--background-grey-light);
  gap: 10px;
  justify-content: space-between;
}

.addButton {
  margin-top: 100px;
}

.title {
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  color: var(--content-primary);
}

.addLiquidityContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.previewContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.depositAmountSection {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.subHeader {
  font-size: 16px;
  font-weight: 500;
  color: var(--mc-black);
}
.sectionContent {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.APR {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  line-height: 14px;
  padding-bottom: 4px;
}

.aprText {
  display: flex;
  align-items: center;
  gap: 3px;
}
.aprText > p {
  font-weight: 400;
  line-height: 100%;
  font-size: 12px;
}

.APR > span {
  font-size: 12px;
  line-height: 14px;
}

.highlight {
  color: var(--content-positive);
  padding-bottom: 2px;
}

.pending {
  color: var(--content-dimmed-dark);
}

.poolStability {
  display: flex;
  width: 100%;
}

.poolStabilityButton {
  width: 100%;
  display: flex;
  padding: 12px 14px;
  background-color: var(--background-secondary);
  border: 1px solid var(--mc-grey-4);
  cursor: pointer;
  align-items: center;
}

.poolStabilityButtonContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;
  white-space: nowrap;
}

.poolStabilityButtonText {
  font-size: 14px !important;
  font-weight: 500;
}

.poolStabilityButtonActive {
  border: 1px solid var(--content-primary);
  background-color: var(--content-primary);
  color: var(--background-primary);
}

/* Round only the left corners of the first button */
.poolStabilityButton:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

/* Round only the right corners of the second button */
.poolStabilityButton:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.poolStabilityButtonDisabled {
  cursor: not-allowed;
}

.prices {
  color: var(--content-dimmed-dark);
}

.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 4;
  pointer-events: auto;
}

.inputsPreview {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: var(--background-secondary);
  padding: 22px 18px;
  border-radius: 16px;
  background-color: var(--mc-grey-2);
}

.inputsPreview {
  gap: 12px;
}

.inputPreviewRow {
  display: flex;
  justify-content: space-between;
}

.inputPreviewRow p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.inputPreviewRow svg,
.inputPreviewRow img {
  width: 20px;
  height: 20px;
}

.previewPriceBlocks {
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.previewPriceBlock {
  flex: 1;
  gap: 6px;
}

.previewCurrentPriceBlock {
  gap: 4px;
  align-items: center;
}

.previewPriceBlockTitle,
.previewPriceBlockExchange,
.previewPriceBlockDescription {
  font-size: 12px;
  line-height: 16px;
}

.previewPriceBlockTitle,
.previewPriceBlockExchange {
  color: var(--content-tertiary);
}

.previewPriceBlockValue {
  color: var(--content-primary);
}

.previewPriceBlockDescription {
  color: var(--background-grey-light);
}

.previewCoinPair {
  display: flex;
  justify-content: space-between;
}

.divider {
  border: 0;
  height: 1px;
  background-color: var(--mc-grey-3);
  width: 100%;
  margin: 8px 0;
}

.existingPoolBlock {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 12px;
  border-radius: 10px;
  background-image: url("../../../../../../assets/mira-block-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sparkleIcon {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 34px;
  background-color: var(--content-dimmed-dark);
}

.existingPoolText {
  flex: 1;
  color: var(--primary-white);
  font-size: 15px;
  font-weight: 400;
}

.addLiquidityLink {
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  color: var(--primary-white);
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.addLiquidityLink:hover {
  color: #e0e0e0;
}

.addLiquidityLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: var(--primary-white);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.addLiquidityLink:hover::after {
  transform: scaleX(1);
}

.arrow {
  margin-left: 4px;
  font-size: 15px;
  transition: margin-left 0.3s ease;
}

.addLiquidityLink:hover .arrow {
  margin-left: 8px;
}

.priceBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: var(--background-tertiary);
  cursor: pointer;
  color: var(--content-primary);
}

.priceWarning {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--mc-yellow);
  margin-bottom: 8px;
}

.coinHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

@media (min-width: 1024px) {
  /*.poolStabilityButton {*/
  /*  flex-direction: row;*/
  /*}*/

  .coinHeader {
    flex-direction: row;
  }

  .APR {
    flex-direction: row;
  }

  .inputPreviewRow p {
    font-size: 16px;
    line-height: 19px;
  }

  .previewContent {
    width: 400px;
  }

  .inputPreviewRow svg,
  .inputPreviewRow img {
    width: 24px;
    height: 24px;
  }

  .previewPriceBlock,
  .previewCurrentPriceBlock {
    padding: 8px 16px;
  }

  .previewPriceBlockTitle,
  .previewPriceBlockExchange,
  .previewPriceBlockDescription {
    line-height: 18px;
  }
}
