.header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.promo {
  display: flex;
  padding: 12px 16px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  background-color: var(--background-promotional-banner);
  justify-content: space-between;
}

.promo_text {
  display: flex;
  color: var(--primary-white);
}

.promo_text u {
  margin-left: 5px;
}

.promo svg {
  margin-right: 5px;
  width: 18px;
  height: 18px;
  color: var(--transparent-white) !important;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  gap: 16px;
  background-color: var(--background-primary);
}

.left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.center {
  display: none;
}

.right {
  display: none;
}

.links {
  display: flex;
  gap: 24px;
  align-items: center;
}

.points {
  display: flex;
  align-items: center;
  gap: 4px;
}

.disconnectMobile {
  gap: 4px !important;
  padding: 5px 8px !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  line-height: 16px !important;
}

.pointsText {
  position: relative;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  background-image: radial-gradient(
    114.58% 814.77% at -1.46% 26.54%,
    var(--accent-primary) 0%,
    #5872fc 49.15%,
    #31fe3a 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .header {
    position: relative;
    font-size: 18px;
    line-height: 24px;
  }

  .promo {
    justify-content: center;
    text-align: center;
  }

  .main {
    padding: 25px 27px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }

  .left {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .center {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .right {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .link {
    display: inline-flex;
    position: relative;
    align-items: center;
    padding: 6px 12px;
    border-radius: 20px;
    transition: all 0.3s ease;
    color: var(--content-secondary);
  }

  .activeLink {
    background: var(--content-primary);
    color: var(--background-white);
  }

  .link:hover:not(.activeLink) {
    background: var(--background-grey-light);
    color: var(--content-secondary);
  }

  .activeLink:hover {
    opacity: 0.9;
    color: var(--background-white);
  }

  .linkAlike {
    display: inline-flex;
    position: relative;
    align-items: center;
    cursor: pointer;
  }

  .hiddenLabel {
    opacity: 0;
    padding: 0;
    max-width: 0;
    transition:
      opacity 0.5s,
      max-width 0.5s,
      padding 0s 0.3s,
      margin-left 0s 0.3s;
  }

  div:hover > .hiddenLabel {
    opacity: 1;
    max-width: 200px;
    padding: 2px 8px 3px;
    transition-delay: 0s;
    margin-left: 4px;
  }

  .pointsText .hiddenLabel {
    -webkit-background-clip: unset;
    -webkit-text-fill-color: var(--background-primary);
  }

  .promoClose {
    position: absolute;
    color: var(--transparent-white) !important;
    right: 16px;
    cursor: pointer;
  }

  .launchAppButton {
    min-width: 158px;
    height: 40px;
    font-size: 16px !important;
    line-height: 24px !important;
  }
}
