.wrapper {
    background: #46CC44;
    width: 480px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    position: absolute;
    top: 730px;
    right: 850px;
    z-index: 1000;
}

.messageArea {
    display: flex;
    gap: 16px;
}

.message {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.closeButton {
    border: none;
    background: none;
    padding: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .wrapper {
        width: 347px;
        top: 628px;
        right: 15px;
        z-index: 500;
    }
}