.coinWithAmount {
  display: flex;
  gap: 8px;
  align-items: center;
  flex: 1;
}

.coinWithAmount > img {
  width: 38px;
  height: 38px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.amount {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--content-primary);
}

.name {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--content-dimmed-light);
}
