.coin {
  display: flex;
  gap: 8px;
  color: var(--content-primary);
}

.centered {
  align-items: center;
}

.names {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.fullName {
  font-size: 16px;
  line-height: 19px;
  color: var(--content-dimmed-light);
}
