.coin {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--content-primary);
}

.selectable {
  background-color: var(--mc-black);
  color: var(--mc-white);
}

.clickable {
  border-radius: var(--button-border-radius);
  padding: 6px 10px;
  cursor: pointer;
}

.clickable:hover {
  background-color: var(--mc-grey-3);
}

.clickable:active {
  background-color: var(--mc-grey-4);
}

.selectable:hover {
  background-color: var(--mc-black-1);
}

.name {
  font-size: 18px;
  font-weight: 500;
  line-height: 19px;
}

.chooseCoin {
  font-size: 16px;
}
