.customBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #5872fc 0%, #6142ba 50%, #c41cff 100%);
  gap: 5px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.badgeIcon {
  color: white;
  font-size: 19px;
}

.badgeText {
  color: white;
}

.large {
  width: 96px;
  padding: 7px;
  margin-left: 35px;
}

.small {
  width: 76px;
  padding: 5px 0;
  height: 26px;
}

.largeFont {
  font-size: 16px;
  line-height: 19.36px;
}

.smallFont {
  font-size: 13px;
  line-height: 16px;
}

.hoverUI {
  position: absolute;
  top: 140%;
  width: 292px;
  border-radius: 10px;
  padding: 25px;
  gap: 10px;
  background: linear-gradient(90deg, #5872fc 0%, #6142ba 50%, #c41cff 100%);
  color: white;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.label,
.value {
  font-size: 16px;
  line-height: 19.36px;
  color: white;
}

.subtext {
  font-size: 10px;
  color: white;
  opacity: 0.8;
  width: 70%;
  text-wrap: wrap;
  text-align: left;
}

.columns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.divider {
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #5872fc 0%, #6142ba 50%, #c41cff 100%);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
