.coinPair {
  display: flex;
  align-items: center;
  gap: 8px;
}

.coinPairAlignStart {
  align-items: flex-start;
}

.coinPairIcons {
  display: flex;
  align-items: center;
}

.coinPairIcons > svg,
.coinPairIcons > img {
  width: 28px;
  height: 28px;
  border-radius: 100%;
}

.coinPairIcons > svg:nth-child(2),
.coinPairIcons > img:nth-child(2) {
  margin-left: -8px;
}

.coinNames {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.namesAndFee {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.coinPairFee {
  font-size: 12px;
  line-height: 14px;
  color: var(--content-tertiary);
}

.poolDescription {
  font-size: 12px;
  line-height: 14px;
  color: #d4b226;
}

@media (min-width: 1024px) {
  .coinNames {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  .coinPairFee {
    font-size: 14px;
    line-height: 16px;
  }
}
