.desktopPositions {
  width: 100%;
  background-color: var(--background-secondary);
  border-radius: 16px;
  border: 11px solid var(--background-tertiary);
}

.desktopPositions th {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: var(--content-tertiary);
  padding: 0 16px;
  border-bottom: 1px solid var(--background-grey-darker);
}

.desktopPositions td,
.desktopPositions th {
  padding: 16px 24px;
}

.desktopPositions td:first-child,
.desktopPositions th:first-child {
  text-align: left;
  min-width: 350px;
}

.desktopPositions td:nth-child(2),
.desktopPositions th:nth-child(2) {
  text-align: center;
  color: var(--content-tertiary);
  min-width: 215px;
}

.desktopPositions td:nth-child(3),
.desktopPositions th:nth-child(3) {
  text-align: center;
  color: var(--content-tertiary);
  min-width: 215px;
}

.desktopPositions td:last-child,
.desktopPositions th:last-child {
  text-align: right;
}

.hideButton {
  background-color: transparent;
  border: none;
  color: var(--accent-primary);
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}
