.desktopPositions {
  border-radius: 24px;
  border-collapse: collapse;
  background-color: var(--background-grey-dark);
}

.desktopPositions th {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: var(--content-tertiary);
  padding: 0 16px;
  /*border-bottom: 1px solid var(--background-grey-light);*/
}

.desktopPositions td, .desktopPositions th {
  padding: 16px 24px;
}

.labelCell {
  display: flex;
  justify-content: center;
  color: var(--content-positive);
}

.labelCell > p {
  width: fit-content;
}

.hideButton {
  background-color: transparent;
  border: none;
  color: var(--accent-primary);
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.positionRow {
  cursor: pointer;
}

.positionRow:hover td:nth-child(1) {
  text-decoration: underline;
}
