@keyframes cycleSymbols {
  0% {
    opacity: 0;
    content: "/";
  }
  8.33% {
    opacity: 1;
    content: "/";
  }
  16.66% {
    opacity: 1;
    content: "/";
  }
  24% {
    opacity: 0;
    content: "/";
  }
  25% {
    opacity: 0;
    content: "-";
  }
  33.33% {
    opacity: 1;
    content: "-";
  }
  41.66% {
    opacity: 1;
    content: "-";
  }
  49% {
    opacity: 0;
    content: "-";
  }
  50% {
    opacity: 0;
    content: "\\";
  }
  58.33% {
    opacity: 1;
    content: "\\";
  }
  66.66% {
    opacity: 1;
    content: "\\";
  }
  74% {
    opacity: 0;
    content: "\\";
  }
  75% {
    opacity: 0;
    content: "-";
  }
  83.33% {
    opacity: 1;
    content: "-";
  }
  91.66% {
    opacity: 1;
    content: "-";
  }
  99% {
    opacity: 0;
    content: "-";
  }
  100% {
    opacity: 0;
    content: "/";
  }
}

.loadingAnimation {
  font-size: 24px;
  font-weight: bold;
  position: relative;
}

.loadingAnimation::before {
  content: "\200B";
  animation: cycleSymbols 4s infinite;
}
