.priceImpact {
  color: #ffffffa3;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.priceImpactEntry {
  display: flex;
  justify-content: space-between;
}

.redText {
  color: var(--accent-warning);
}

.orangeText {
  color: #e56910;
}

.yellowText {
  color: #d4b226;
}

.hidden {
  opacity: 0;
}

@media (min-width: 1024px) {
  .priceImpact p {
    font-size: 14px;
  }
}
