.priceImpact {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFFA3;
  background: transparent;
  border: none;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .priceImpact {
    font-size: 13px;
  }
}
