.button {
  width: 184px;
  border-radius: 12px;
  padding: 16px 0;
  background-color: #2e2e2e;
  border: none;
  color: var(--content-primary);
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 56px;
}

@media (max-width: 1024px) {
  .button {
    width: 100%;
    line-height: 24px;
    border-radius: 12px;
    padding: 16px 0;
    background-color: #2e2e2e;
    border: none;
    color: var(--content-primary);
    font-size: 18px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 56px;
  }
}
