.addLiquidityLayout {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  width: 100%;
  max-width: 595px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .addLiquidityLayout {
    padding: 32px 16px;
  }
}
