.desktopPools {
  background-color: var(--background-secondary);
  border-radius: 16px;
  border: 11px solid var(--background-tertiary);
  padding: 16px;
}

.desktopPools th {
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  color: var(--mc-black);
  padding: 0 16px;
  text-align: left;
}

.desktopPools thead {
  position: relative;
}

.desktopPools thead::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: var(--mc-grey-3);
}
.desktopPools tr {
  margin-bottom: 20px;
}

.desktopPools th,
.desktopPools td {
  padding: 16px 24px;
}

.desktopPools th:first-child {
  text-align: left;
}

.desktopPools th:not(:first-child),
.desktopPools td:not(:first-child) {
  text-align: center;
}

button.createButton {
  padding: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  box-shadow: unset;
  height: 40px;
}

.noData {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--content-tertiary);
  padding: 16px 24px;
}

.desktopPools th:nth-child(1) {
  width: 30%;
}

.desktopPools th:nth-child(2) {
  width: 20%;
  /* Width for the "APR" column */
}

.desktopPools th:nth-child(3),
.desktopPools th:nth-child(4) {
  width: 15%;
  /* Width for "24H Volume" and "TVL" columns */
}

.desktopPools th:nth-child(5) {
  width: 20%;
  /* Width for the "Create Pool" column */
}

.aprBadge {
  display: flex;
  justify-content: center;
}

.labelCell {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: var(--mc-black) !important;
}
