.desktopPools {
  border-radius: 24px;
  background-color: var(--background-grey-dark);
  border-collapse: collapse;
}

.desktopPools th {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: var(--content-tertiary);
  border-bottom: 1px solid var(--background-grey-darker);
}

.desktopPools th, .desktopPools td {
  padding: 16px 24px;
}

.desktopPools th:first-child, .desktopPools td:first-child {
  text-align: left;
}

.desktopPools th:not(:first-child), .desktopPools td:not(:first-child) {
  text-align: center;
}

.pending {
  color: var(--content-dimmed-light);
}

button.addButton {
  padding: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

button.createButton {
  width: 100%;
  padding: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  box-shadow: unset;
}
