.liquidityPageLayout {
  flex: 1;  /* This makes the main content take remaining space */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px;
}

.promoBlocks {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 1024px) {
  .liquidityPageLayout {
    max-width: 1084px;
    margin: 0 auto;
    /* min-height: calc(100vh - 157px); */
    padding: 32px 16px;
  }

  .promoBlocks {
    width: 100%;
    flex-direction: row;
    gap: 20px;
  }

  .promoBlocks > div {
    width: 50%;
  }
}
