.slippageLabel {
  padding: 4px 8px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  border-radius: 8px;
  background-color: var(--background-grey-light);
  color: var(--content-dimmed-light);
}

.settingsButton {
  color: var(--content-secondary);
}