.swapPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.swapLayoutWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 16px;
  position: relative;
}

.swapLayout {
  width: 100%;
  max-width: 522px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 1;
}

.gradientBackground {
  position: absolute;
  margin-top: 300px;
  margin-left: 800px;
  transform: translateX(-50%);
  width: 100%;
  max-width: 800px;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.gradientBackground.visible {
  opacity: 1;
}

.gradientBackground.hidden {
  opacity: 0;
}

@media (min-width: 1024px) {
  .swapLayoutWrapper {
    padding: 84px 16px 48px;
  }
}
