.swapLayout {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

@media (min-width: 1024px) {
  .swapLayout {
    min-height: calc(100vh - 157px);
    max-width: 500px;
    margin: 0 auto;
    padding: 84px 16px 48px
  }
}
