.positions {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.positionsTitle {
  font-size: 20px;
  line-height: 24px;
}

.positionsFallback {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  padding: 28px 16px;
  background-color: var(--background-grey-dark);
}

.positionsFallback img {
  width: 36px;
  height: 36px;
}

.fallbackTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.icon {
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  color: var(--content-primary);
  background: linear-gradient(
    96.75deg,
    #befa15 -106.79%,
    #5872fc 48.13%,
    #c41cff 168.79%
  );
}

.viewArchivedButton {
  color: var(--accent-primary);
  background: transparent;
  border: none;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .positionsFallback img {
    width: 50px;
    height: 50px;
  }
}
