.swapLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  gap: 16px;
  background-color: var(--background-primary);
}

@media (min-width: 1024px) {
  .swapLayout {
    justify-content: flex-start;
    min-height: 100vh;
    max-width: 500px;
    margin: 0 auto;
    padding: 84px 16px 48px;
  }
}
