.widgetLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  gap: 16px;
  background-color: transparent;
}

.widgetContainer {
  background-color: transparent;
}

@media (min-width: 1024px) {
  .widgetLayout {
    justify-content: flex-start;
    min-height: 100vh;
    max-width: 500px;
    margin: 0 auto;
    padding: 84px 16px 48px;
  }
}
