.mainnetLabel {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 20px;
    font-weight: 400 !important;
  }
  
  .labelButton {
    all: unset;
    cursor: pointer;
    position: relative;
    padding: 6px 12px;
    border-radius: 20px;
    background: transparent;
    transition: .3s all ease;
  }
  
  .labelButton:hover {
    background: var(--background-grey-light);
  }
  
  .labelMenu {
    top: 125%;
    left: 0;
    width: 100%;
    padding: 0 10px;
  }

  .selectButton {
    padding-left: 0;
    transition: .3s ease all;
  }

  .selectButton > * {
    padding: 0;
    font-size: 18px !important;
  }

  .selectButton:hover {
    background: none;
    color: var(--content-dimmed-light);
  }