/* .swapAndRate {
  display: flex;
  flex-direction: column;
  gap: 12px;
} */

.swapContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 19px;
  border: var(--border-style-secondary);
  border-radius: 16px;
  background-color: var(--background-secondary);
}

.swapContainerLoading {
  z-index: 5;
}

.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 4;
  pointer-events: auto;
}

.heading {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--content-primary);
}

.title {
  flex: 1;
  color: var(--content-primary);
}

.splitter {
  display: flex;
  justify-content: center;
  padding: 7px 0px;
}

.convertButton {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  color: var(--background-primary) !important;
  background-color: var(--content-primary) !important;
}

.convertButton:hover > svg {
  transform: rotate(180deg);
  transition: transform 0.3s;
}

.convertButton:hover {
  /* color: var(--content-primary); */
}

.rates {
  display: flex;
  justify-content: end;
}

.btnLoading {
  min-height: 54px;
}

@media (min-width: 1024px) {
  .heading {
    font-size: 20px;
    line-height: 24px;
  }
}
