.removeLiquidityContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.valueAndMax,
.someText {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.value {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.maxButton {
  text-transform: uppercase;
  color: var(--accent-primary);
  font-size: 12px;
  line-height: 16px;
  padding: 4px 8px;
  border: 1px solid var(--accent-primary);
  border-radius: 4px;
  cursor: pointer;
  background: transparent;
}

.maxButton:hover {
  transition: opacity 0.2s;
  opacity: 0.8;
}

.feesButton {
  border: none;
  background: transparent;
  color: var(--accent-primary);
  cursor: pointer;
}

.feesButton:hover {
  transition: opacity 0.2s;
  opacity: 0.8;
}

.someText {
  font-size: 12px;
  line-height: 16px;
}

.dimmed {
  color: var(--content-tertiary);
}

.highlight {
  color: var(--accent-primary);
}

.tableWrapper {
  padding: 12px 12px 0;
  border-radius: 8px;
  background-color: var(--background-secondary);
}

.liquidityTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  line-height: 16px;
  color: var(--content-tertiary);
}

.liquidityTable th {
  text-align: left;
}

.liquidityTable td,
.liquidityTable th {
  padding: 4px;
}

.liquidityTable th:last-child,
.liquidityTable td:last-child {
  text-align: right;
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.infoBlockTitle {
  display: flex;
  align-items: center;
  gap: 8px;
}

.infoBlockTitle > svg {
  color: var(--accent-primary);
}

.infoBlockText {
  font-size: 14px;
  line-height: 16px;
  color: var(--content-tertiary);
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #ddd;
  background: linear-gradient(
    to right,
    var(--accent-primary) var(--value, 50%),
    #ddd var(--value, 50%)
  );
  outline: none;
  opacity: 1;
  transition: opacity 0.2s;
  border-radius: 4px;
}

.slider:hover {
  opacity: 0.85;
}

.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: var(--accent-primary);
  cursor: pointer;
  border-radius: 50%;
  margin-top: -4px;
}

.lastRow {
  font-weight: 500;
  color: var(--content-primary);
  border-top: 1px solid var(--background-grey-dark);
}

.lastRow > td {
  padding: 16px 4px;
}

tr:has(+ .lastRow) > td {
  padding-bottom: 16px;
}

@media (min-width: 1024px) {
  .liquidityTable {
    font-size: 16px;
    line-height: 19px;
  }

  .buttons {
    flex-direction: row-reverse;
  }

  .maxButton {
    min-width: 75px;
  }

  .buttons > button {
    width: 50%;
    padding: 12px 16px;
  }
}
