.pools {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.poolsTitle {
  color: var(--mc-black);
}

.loadingFallback {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 28px 16px;
  background-color: var(--background-secondary);
  border-radius: 16px;
  border: 11px solid var(--background-tertiary);
}

.poolsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actionButtonDiv {
  display: flex;
  justify-content: flex-end;
}

.loadingFallback img {
  width: 36px;
  height: 36px;
}

@media (min-width: 1024px) {
  .loadingFallback {
    padding: 32px;
  }

  .loadingFallback img {
    width: 50px;
    height: 50px;
  }

  /* .addButton {
    display: none;
  } */
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1024px) {
  .pagination {
    justify-content: center;
    align-items: center;
  }
}
