.promoBlock {
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 12px;
  background-color: var(--background-secondary);
  border-radius: 16px;
  border: 11px solid var(--background-tertiary);
}

.promoBlock:hover .text {
  color: var(--content-primary);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.title {
  font-size: 16px;
  font-weight: 400;
  color: var(--mc-black);
}

.text {
  font-size: 16px;
  font-weight: 400;
  color: var(--mc-grey-4);
}
