:root {
  --font-inter: 'inter-variable', sans-serif;
  --font-cartograph: 'cartograph-cf', monospace;
  --font-prompt: 'Prompt';

  --primary-white: #FFFFFF;
  --mc-white: #FDFDFD;
  --mc-grey-1: #F5F5F5;
  --mc-grey-2: #ECEDF0;
  --mc-grey-3: #E0E2E7;
  --mc-grey-4: #8A8B8E;

  --mc-black: #0E111E;
  --mc-black-1: rgba(14, 17, 30, 0.63);

  --mc-green: #01EC97;
  --mc-green-2: #19BD82;
  --mc-green-3: #015537;

  --mc-red: #F95465;
  --mc-blue: #507FF7;
  --mc-yellow: #CB9200;

  --background-white: var(--primary-white);
  --background-primary: var(--mc-white);
  --background-secondary: var(--mc-grey-1);
  --background-tertiary: var(--mc-grey-2);
  --background-grey-light: var(--mc-grey-3);
  --background-grey-dark: var(--mc-grey-2);

  --background-dimmer: rgba(14, 17, 30, 0.63);
  --border-dark: var(--mc-grey-4);
  --background-grey-darker: rgba(255, 255, 255, 0.05);
  --background-promotional-banner: var(--mc-blue);


  --content-primary: var(--mc-black);
  --content-secondary: var(--mc-grey-4);
  --content-tertiary: var(--mc-grey-4);

  --content-dimmed-light: var(--mc-grey-4);
  --content-dimmed-dark: rgba(255, 255, 255, 0.4);

  --content-grey: #9D9D9D;
  --content-grey-dark: #6D6D6D;

  --content-inverse: #28282F;

  --button-primary: var(--mc-green);
  --button-content-primary: var(--mc-black);

  --accent-primary: #AEED0D;
  --accent-secondary: rgba(174, 237, 13, 0.4);
  --accent-dimmed: rgba(174, 237, 13, 0.1);
  --accent-warning: var(--mc-red);
  --accent-alert: #d4b226;
  --content-positive: #46CC44;
  --points-gradient: linear-gradient(170deg, #262f5f 35%, #c41cff 100%);
  --modal-overlay: #00000059;

  --transparent-white: #FFFFFFA3;

  --button-border-radius: 8px;
  --border-style-secondary: 11px solid var(--background-tertiary);
  scrollbar-width: thin;
  scrollbar-color: var(--mc-grey-3) transparent;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  max-width: 100vw;
}

body {
  height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--content-primary);
  background-color: var(--background-primary);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

h1,
h3 {
  font-family: var(--font-prompt), sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
}

h1 {
  letter-spacing: -0.005em;
}

h3 {
  letter-spacing: 0.005em;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--content-primary);
}

input:focus {
  outline: none;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 64px;
    line-height: 72px;
    letter-spacing: 0.005em;
  }

  h3 {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: 0.005em;
  }

  p,
  span {
    font-size: 16px;
    line-height: 19px;
  }

  .mobileOnly {
    display: none !important;
  }
}

@media (min-width: 431px) {
  div[data-state="open"][role="dialog"] {
    bottom: unset;
  }
}

@media (max-width: 1023px) {
  .desktopOnly {
    display: none !important;
  }
}

.blurredText {
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
}

.blurredTextLight {
  filter: blur(2px);
  pointer-events: none;
  user-select: none;
}

@font-face {
  font-family: 'inter-variable';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('https://use.typekit.net/joy1wau.css') format('woff2');
}

@font-face {
  font-family: 'cartograph-cf';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://use.typekit.net/joy1wau.css') format('woff2');
}

@font-face {
  font-family: "Cartograph CF";
  src: local("CartographCF-Regular"),
    url("../../src/fonts/CartographCF-Regular.ttf") format("truetype");
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-self: center;
  width: 100%;
  flex: 1;
  padding: 32px 16px;
  gap: 24px;
  max-width: 1116px; /* length 1084 + 16*2 (padding) */
}

.action-layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  width: 100%;
  max-width: 595px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .action-layout {
    padding: 32px 16px;
  }
}

.liquidity-action-container {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  border: 11px solid var(--background-tertiary);
  background-color: var(--background-secondary);
  padding: 20px;
  gap: 10px;
  max-width: 563px;
  height: auto;
}

.action-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 11px solid var(--background-tertiary);
  background-color: var(--background-secondary);
  border-radius: 8px;
  padding: 20px;
  gap: 10px;
  height: auto;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 11px solid var(--background-tertiary);
  background-color: var(--background-secondary);
  border-radius: 16px;
  padding: 20px;
  gap: 10px;
  height: auto;
  max-width: 1084px;
}

/* Inter Typography Classes */
.mc-type-xs {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 500;
  font-size: 11.06px;
  line-height: 13px;
  font-variation-settings: "slnt" 0, "wght" 400;
}

.mc-type-s {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 500;
  font-size: 12.44px;
  line-height: 15px;
  font-variation-settings: "slnt" 0, "wght" 400;
}

.mc-type-b {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  font-variation-settings: "slnt" 0, "wght" 400;
}

.mc-type-m {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 500;
  font-size: 15.75px;
  line-height: 19px;
  font-variation-settings: "slnt" 0, "wght" 400;
}

.mc-type-l {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 500;
  font-size: 17.72px;
  line-height: 21px;
  font-variation-settings: "slnt" 0, "wght" 400;
}

.mc-type-xl {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 500;
  font-size: 19.93px;
  line-height: 24px;
  font-variation-settings: "slnt" 0, "wght" 400;
}

.mc-type-xxl {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 500;
  font-size: 22.43px;
  line-height: 27px;
  font-variation-settings: "slnt" 0, "wght" 400;
}

.mc-type-xxxl {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 500;
  font-size: 25.23px;
  line-height: 31px;
  font-variation-settings: "slnt" 0, "wght" 400;
}

.mc-type-xxxxl {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 500;
  font-size: 28.38px;
  line-height: 34px;
  font-variation-settings: "slnt" 0, "wght" 400;
}

/* Monospace Typography Classes */
.mc-mono-xs {
  font-family: var(--font-cartograph);
  font-style: normal;
  font-weight: 400;
  font-size: 11.06px;
  line-height: 15px;
}

.mc-mono-s {
  font-family: var(--font-cartograph);
  font-style: normal;
  font-weight: 400;
  font-size: 12.44px;
  line-height: 17px;
}

.mc-mono-b {
  font-family: var(--font-cartograph);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.mc-mono-m {
  font-family: var(--font-cartograph);
  font-style: normal;
  font-weight: 400;
  font-size: 15.75px;
  line-height: 21px;
}

.mc-mono-l {
  font-family: var(--font-cartograph);
  font-style: normal;
  font-weight: 400;
  font-size: 17.72px;
  line-height: 24px;
}

.mc-mono-xl {
  font-family: var(--font-cartograph);
  font-style: normal;
  font-weight: 400;
  font-size: 19.93px;
  line-height: 27px;
}

.mc-mono-xxl {
  font-family: var(--font-cartograph);
  font-style: normal;
  font-weight: 400;
  font-size: 22.43px;
  line-height: 30px;
}

.mc-mono-xxxl {
  font-family: var(--font-cartograph);
  font-style: normal;
  font-weight: 400;
  font-size: 25.23px;
  line-height: 34px;
}

.mc-mono-xxxxl {
  font-family: var(--font-cartograph);
  font-style: normal;
  font-weight: 400;
  font-size: 28.38px;
  line-height: 38px;
}
