.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100px;
  text-align: left;
}

.infoBlockValue {
  color: var(--content-tertiary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.infoBlockValuePositive {
  color: var(--content-positive);
}

.pending {
  color: var(--content-dimmed-light);
}
