.footer {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--background-grey-light);
  box-sizing: border-box;
  padding: 24px 16px;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}


/* Content Wrapper */
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Left-align for mobile */
  text-align: left;
  gap: 16px;
  width: 100%;
}

/* Links Section */
.links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 16px;
  line-height: 22px;
  color: var(--content-secondary);
  font-weight: 400;
}

.links a {
  text-decoration: none;
  white-space: nowrap;
  transition: color 0.3s ease;
}

.links a:hover {
  color: var(--content-primary);
}

/* Fuel Wrapper */
.fuelWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

/* Social Icons */
.socialLinks {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.socialLinks a {
  transition: opacity 0.3s ease;
  color: var(--content-primary);
  /* Darker color */
}

.socialLinks a {
  /* fill: var(--content-primary) !important; */
  /* Override the default fill */
}

.socialLinks a:hover {
  opacity: 0.64;
}

/* Copywright Section */
.copyright {
  text-align: left;
  width: 100%;
  padding-top: 12px;
  font-size: 14px;
  color: var(--content-dimmed-light);
}

/* Desktop Styles */
@media (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .leftSection {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .rightSection {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .links {
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
  }

  .socialLinks {
    margin: 0;
  }

  .copyright {
    text-align: right;
    width: 100%;
    padding-top: 12px;
  }
}