.mobilePositionItem {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.infoSection {
  display: flex;
  justify-content: space-between;
}

.positionPrice {
  font-size: 14px;
  line-height: 16px;
  color: var(--content-tertiary);
}

.poolDescription {
  font-size: 12px;
  line-height: 14px;
  color: #d4b226;
}

.addButton {
  height: 40px;
  font-weight: 500;
  font-size: 16px;
}

.aprDiv {
  display: flex;
  align-items: center;
  gap: 5px;
}

.aprTitle {
  color: var(--content-tertiary);
  font-size: 14px !important;
}
